.idea
digit_depth/__pycache__/
digit_depth/digit/__pycache__/
/*.egg-info
/dist/
*.pyc
.vscode/
.mypy_cache/
__pycache__/
*.pyc
*.csv
*.pth
*.jpg
 ../build/
 ../images/
 ../outputs/
 build/
 datasets/
 scripts/outputs
build/
images/
datasets/
scripts/outputs/
models/
scripts/~/
~/
framex.png
outputs
./wandb